body, div {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: bold;
}

body > div {
    background-image: url('back.jpg');
}

.kenburns {
    background: white;
    background: rgba(255, 255, 255, 0.7);
}

.frame {
    background-image: url('frame.png');
    background-position: center center;
    background-repeat: no-repeat;
}

.photo {
    background-image: url('image.jpg');
    background-size: 100% 100%;
    background-position: center center;
    background-repeat: no-repeat;
}
